@page "/suppliers/editsupplier/{SupplierID}"
@inject NavigationManager NavManager
@inject HttpClient Http
@using Models

<EditForm Model="@Supplier" OnValidSubmit="@HandleValidSubmit" class="center">
    <div class="row">
        <div class="col text-center">
            <span class="oi oi-person"></span>
        </div>
    </div>
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="mb-3">
        <label for="name">Supplier Name:</label>
        <InputText id="name" class="form-control" placeholder="Enter supplier name" @bind-Value="Supplier.SupplierName" />
    </div>
    <div class="mb-3">
        <label for="name">Supplier Email:</label>
        <InputText id="name" class="form-control" placeholder="Enter supplier email" @bind-Value="Supplier.SupplierEmail" />
    </div>
    <div class="mb-3">
        <label for="name">Supplier Phone:</label>
        <InputText id="name" class="form-control" placeholder="Enter supplier phone" @bind-Value="Supplier.SupplierPhone" />
    </div>
    <div class="row">
        <div class="col text-center">
            <button type="submit" class="btn btn-primary">Update</button> 
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public string SupplierID { get; set; }
    private Supplier Supplier = new Supplier();

    protected override async Task OnInitializedAsync()
    {
        Supplier = await Http.GetFromJsonAsync<Supplier>("http://localhost:5000/api/Supplier/" + Guid.Parse(SupplierID));
    }
    private async void HandleValidSubmit()
    {
        // Process the valid form
        await Http.PutAsJsonAsync<Supplier>("http://localhost:5000/api/Supplier/" + Guid.Parse(SupplierID), Supplier);
        NavManager.NavigateTo("/suppliers");
    }
}
